* {
    box-sizing: border-box;
}

body {
    background-color: #EDE9EB;
}

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Six Caps', sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 58px;
    color: #263441;
}

h2 {
    font-size: 35px;
    line-height: 42px;
}

h3 {
    font-size: 30px;
    line-height: 36px;
}

nav {
    font-size: 25px;
    line-height: 30px;
}

p, ul, footer, button {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #263441;
}

footer {
    font-size: 14px;
    line-height: 17px;
}

button {
    text-transform: uppercase;
    font-weight: 600;
}

a {
    color: #8F948C;
    text-shadow: 1px;
}